h1 {
  font-family: "Reddit Sans Condensed", sans-serif;
}

h2 {
  font-family: "Reddit Sans Condensed", sans-serif;
}

p {
  font-family: "Work Sans", system-ui;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #e9c46a;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9c46a;
  padding: 10px 20px;
}

nav h1 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

nav h1 {
  margin: 0;
  font-family: "Reddit Sans Condensed", sans-serif;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
}

nav h1 .material-symbols-outlined {
  margin-right: 8px;
  font-size: 2em;
  line-height: 1;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  font-family: "Reddit Sans Condensed", sans-serif;
  color: white;
  font-weight: 850;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  color: #264653;
}

.container {
  background: linear-gradient(#eceffe, #c5cffc);
}

.section-title {
  font-family: "SUSE", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #f4a261;
  text-align: center;
  margin-bottom: 20px;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  display: block;
  background: #fff;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: #2a9d8f;
}

.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card-list .card-link .badge {
  color: #2a9d8f;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: #dde4ff;
  margin: 16px 0 18px;
}

.card-list .card-link .card-title {
  color: #000;
  font-size: 1.19rem;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #2a9d8f;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #2a9d8f;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #2a9d8f;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #2a9d8f;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372f0;
  margin-top: -35px;
}

.video-wrapper {
  display: flex;
  justify-content: center; /* Centrar el contenedor principal */
  flex-wrap: wrap; /* Permitir que los elementos se ajusten en filas */
  align-content: center;
}

.video-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Hacer que los videos se ajusten en filas */
  justify-content: center; /* Centrar los videos */
}

.video-item {
  flex: 1 1 45%; /* Cada video ocupa el 45% del ancho, ajustado para 2 columnas */
  display: flex;
  justify-content: center; /* Centrar horizontalmente el video */
  margin: 10px; /* Separación entre los videos */
}

.video-item:nth-child(3) {
  flex: 1 1 100%; /* El tercer video ocupa toda la fila */
}

.video-content {
  display: flex;
  align-items: center; /* Centra verticalmente el video */
  gap: 20px;
}

.video-content video {
  width: 100%; /* Ajusta al 100% del contenedor */
  max-width: 600px; /* Limita el tamaño máximo del video */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


footer {
  background-color: #264653;
  color: white;
  padding: 20px 0;
  font-family: "Work Sans", system-ui;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content,
.footer-contact {
  width: 45%;
}

.footer-content h3,
.footer-contact h4 {
  font-family: "SUSE", sans-serif;
  font-weight: 700;
}

.footer-contact a {
  color: #90e0ef;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.footer-content p,
.footer-contact p {
  margin: 5px 0;
}

.footer-copyright {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  font-size: 14px;
}
